RobotEnvironment/sam2model/sam2.1_hiera_base_plus.pt
/home/ur5/ur5Control/UR5e_Control/RobotEnvironment/sam2model/sam2.1_hiera_base_plus.pt
RobotEnvironment/sam2model/sam2.1_hiera_base_plus.pt
RobotEnvironment/sam2model/
